/.idea
/.vscode
/.vagrant
/node_modules
/public/hot
/public/storage
/public/**/*.dev.css
/public/**/*.dev.js
/public/**/*.dev.json
/storage/*.key
/storage/*.index
/storage/*.index-journal
/vendor
*.rdb
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
